.user-post {
  width: 100%;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.04);
  padding: 15px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.user-post__group {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 15px;
}

.user-post__group-image-wrapper {
  border-radius: 4px;
  /* border: 1px solid var(--color-grey); */
  padding: 1px;
}

.user-post__group span {
  font-size: 12px;
  font-weight: 800;
  color: var(--color-grey);
}

.user-post__group-image {
  width: 17px;
  height: 16px;
  border-radius: 4px;
  object-fit: cover;
  border-radius: 4px;
}
.user-post__group-image img {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  object-fit: cover;
}

.user-post__group-name {
  font-weight: 800;
  font-size: 13px;
  color: var(--color-grey);
  cursor: pointer;
  transition: all 0.3s;
}

.user-post__group-name:hover {
  text-decoration: underline;
}

.user-post__header {
  display: flex;
  gap: 3px;
}

.user-post__user-info {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
}

.user-post__details {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.user-post__username {
  font-weight: 600;
  transition: all 0.3s;
  cursor: pointer;
}
.user-post__username:hover {
  text-decoration: underline;
}

.user-post__user-level {
  font-size: 9px;
  font-weight: 600;
  color: rgba(52, 51, 58, 0.3);
  display: flex;
  align-items: center;
  gap: 3px;
}

.user-post__date {
  display: flex;
  gap: 3px;
  font-size: 10px;
  font-weight: 500;
  margin-top: 5px;
}

.user-post__date span {
  color: #ccc;
}

.user-post__texts h3 {
  margin-top: 10px;
  font-weight: 600;
  font-size: 18px;
  word-break: break-word;
  line-height: 1.5;
}

.user-post__body {
  margin-block: 5px;
  font-size: 14px;
  line-height: 1.5;
  word-break: break-word;
}

.user-post__menu {
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 15px;
  display: grid;
  place-items: center;
  transition: all 0.2s;
  border-radius: 4px;
  padding: 3px;
}

.user-post__menu:hover {
  background: var(--bg-main-white);
}

.user-post__footer {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 10px;
  color: var(--color-grey);
  cursor: pointer;
  font-size: 10px;
  position: relative;
}

.user-post__footer-container {
  display: flex;
  align-items: center;
  gap: 5px;
  transition: all 0.2s ease;
}

.user-post__footer-container:last-child {
  margin-left: auto;
}

.user-post__footer-container:hover > svg {
  color: var(--color-main-yellow);
}

.user-post__footer-container span {
  font-weight: 600;
  font-size: 13px;
}

.user-post__image {
  margin-top: 10px;
}

.user-post__image .user-media-preview {
  outline: none;
}

.user-post__emoji-picker-wrapper {
  position: absolute;
  top: -30px;
  left: 25px;
  z-index: 1000000;
  border-radius: 10px;
  box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.3);
}

.user-post__emoji-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 15px;
}

.user-post__emoji-wrapper {
  display: flex;
  align-items: center;
  gap: 5px;
  border-radius: 8px;
  border: 1px solid #ccc;
  padding: 3px 8px;
  cursor: pointer;
}

.user-post__emoji-count {
  font-size: 12px;
  font-weight: 600;
  color: #ccc;
}

.active-emoji {
  border: 2px solid var(--color-main-yellow);
  color: var(--color-main-yellow);
}

.user-post__emoji {
  transform: scale(0.9);
}

.active-emoji .user-post__emoji-count {
  color: var(--color-main-yellow);
}

.active-section {
  color: var(--color-main-yellow);
}

.user-post__comment-section {
  margin-top: 15px;
}

.user-post__comment-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 10px;
}

.user-post__comment {
  display: flex;
  align-items: center;
  gap: 5px;
}

.user-post__comment-details {
  border: 1px solid var(--color-grey);
  background-color: rgba(204, 204, 204, 0.3);
  display: flex;
  flex-direction: column;
  gap: 3px;
  width: 100%;
  padding: 5px 10px 8px 10px;
  border-radius: 5px;
}

.user-post__comment-details-header-wrapper {
  display: flex;
  align-items: center;
  gap: 5px;
}
.user-post__comment-details-header-wrapper .user-post__date {
  font-size: 11px;
}

.user-post__comment-details-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  position: relative;
}

.user-post__comment-username {
  font-size: 13px;
  font-weight: 600;
}

.user-post__comment-text {
  font-size: 12px;
}

.user-post__comment-actions {
  margin: 5px 0 0 40px;
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 11px;
  font-weight: 600;
  color: var(--color-grey);
  cursor: pointer;
}

.user-post__comment-action {
  display: flex;
  align-items: center;
  gap: 3px;
  transition: all 0.7s ease;
}

.user-post__comment-action:hover > svg path,
.user-post__comment-reply-action:hover > svg path {
  color: var(--color-main-yellow);
}

.user-post__comment-show-more-comments {
  margin-top: 13px;
  font-size: 13px;
  font-weight: 600;
  color: var(--color-grey);
  cursor: pointer;
  text-decoration: underline;
  transition: all 0.3s;
}

.user-post__comment-show-more-comments:hover {
  color: var(--color-main-yellow);
}

.user-post__comment-react-emoji-picker-wrapper {
  position: absolute;
}

.user-post__comment-react-emoji-picker-wrapper .EmojiPickerReact {
  top: -50px;
  left: 55px;
  z-index: 1000000;
  border-radius: 10px;
  box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.3);
}

.user-post__comment-details .user-post__emoji-list {
  margin-top: 5px;
}

.user-post__poll {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 10px 0 5px 0;
}

.user-post__footer-button {
  width: 50px;
}
