.user-gem__comment-section-user-comment {
  display: flex;
  align-items: center;
  gap: 10px;
}

.user-gem__comment-reply-highlight {
  word-wrap: break-word;
  background-color: #f5f5f5;
  padding: 10px;
  border-radius: var(--border-radius-rect);
  border: 1px solid #e0e0e0;
  margin: 0 0 15px 0px;
  font-size: 12px;
  font-weight: 600;
}

.user-gem__comment-replying-to {
  display: flex;
  align-items: center;
  gap: 3px;
  font-size: 12px;
  font-weight: 600;
  font-style: italic;
  color: var(--color-grey);
  margin-bottom: 5px;
}

.user-gem_comment-reply-wrapper  .user-gem__comment-media{
  margin: 0;
  width: 80px;
  height: 80px;
}

.user-gem__comment-replying-to span {
  color: var(--color-main-black);
  font-weight: 700;
}

.user-gem__comment-section-input {
  width: 100%;
}

.user-gem__comment-input-wrapper {
  position: relative;
}

.user-gem__comment-input {
  padding: 10px 105px 0 10px;
  min-height: 60px;
  height: 60px;
  max-height: 300px;
  width: 100%;
  border: none;
  border-radius: var(--border-radius-rect);
  outline: 1px solid var(--color-main-grey);
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: #333;
  word-break: break-word;
  resize: vertical;

  &::placeholder {
    color: #a0a0a0;
    opacity: 0.7;
    font-weight: 500;
  }

  &:focus {
    outline: 2px solid var(--color-main-yellow);
  }
}

.user-gem__comment-icons {
  display: flex;
  align-items: center;
  gap: 10px;
  position: absolute;
  top: 8px;
  right: 20px;
}

.user-gem__comment-icons svg {
  cursor: pointer;
}

.user-gem__comment-icons svg path {
  transition: all 0.3s ease;
}

.user-gem__comment-icons svg:hover > path {
  color: var(--color-main-yellow);
}

.user-gem__comment-input-label {
  display: flex;
  align-items: center;
}

.user-gem__comment-input-emoji-picker-wrapper {
  position: absolute;
  top: 55%;
  right: -20%;
  z-index: 1000000;
  border-radius: 10px;
  box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.3);
}

.user-gem__add-comment-btn {
  margin-bottom: 5px;
}

.add-comment__gif-container-wrapper {
  position: absolute;
  top: 55%;
  right: -25%;
  width: 250px;
  height: 300px;
  z-index: 1000000;
  border-radius: 10px;
  box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  overflow: auto;
  padding: 10px;
}
