.user-gem__comment-image-preview {
  width: 60px;
  height: 60px;
  border-radius: var(--border-radius-rect);
  margin: 5px 0 0 40px;
  position: relative;
}

.user-gem__comment-image-preview img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--border-radius-rect);
}

.user-gem__comment-reply-wrapper {
  margin-top: 15px;
  width: 90%;
  float: right;
}

.user-gem__comment-reply-action {
  width: 50px;
  margin-left: 40px;
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 13px;
  font-weight: 600;
  color: var(--color-grey);
}

.user-gem__username-comment {
  font-size: 0.8rem;
}

.user-gem__comment-media {
  margin: 0 0 0 40px;
  width: 200px;
  height: 200px;
  border-radius: var(--border-radius-rect);
}

.user-gem__comment-media img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--border-radius-rect);
}

.user-gem__comment-details-only-media {
  display: flex;
  flex-direction: column;
  gap: 3px;
  width: 100%;
}

.user-gem__comment-cancel {
  margin: 0 0 0 45px;
  display: flex;
  align-items: center;
  gap: 4px;
  font-weight: 600;
  color: var(--color-grey);
  cursor: pointer;
  font-size: 0.7rem;
  transition: all 0.7s ease;
}

.user-gem__comment-cancel:hover > svg path{
  color: var(--color-main-yellow);
}