.user-gem__comment-section {
  margin-top: 10px;
}

.user-gem__comment-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 15px;
}

.user-gem-comment-skeleton-wrapper {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.user-gem-comment-skeleton {
  display: flex;
  gap: 10px;
}

#user-gem__no-comment-animation {
  width: 200px;
  margin-top: 20px;
}

#user-gem__no-comments-text {
  text-align: center;
  line-height: 1.5;
  font-weight: 700;
  color: var(--color-main-yellow);
  margin-block: 20px 10px;
}

.user-gem__see-all-comments{
  padding-top: 10px;
  border-top: 1px solid var(--color-grey);
  margin-top: 10px;
}

.user-gem__see-all-comments,
.user-gem__see-all-replies {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 12px;
}

.user-gem__see-all-comments span,
.user-gem__see-all-replies span {
  font-weight: 700;
  color: var(--color-main-yellow);
  cursor: pointer;
  text-decoration: underline;
}

.user-gem__see-all-comments span:hover,
.user-gem__see-all-replies span:hover {
  opacity: 0.9;
}

.user-gem__comment-section-comment-skeleton {
  margin-top: 15px;
}