.user-gem__comment-details-header-wrapper {
  display: flex;
  align-items: center;
  gap: 4px;
}
.user-gem__comment-details-header .user-gem__user-date {
  font-size: 10px;
}

.user-gem__comment-details-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.user-gem__comment-details-header:has(.gem-author) {
  margin-block: 5px;
}

.user-gem__comment-edit-wrapper {
  position: absolute;
  top: 100%;
  right: -10%;
  padding: 3px;
  background-color: var(--bg-secondary-color);
  z-index: 200;
  font-size: 12px;
  font-weight: 500;
  border-radius: var(--border-radius-rect);
  box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.5);
}

.user-gem__comment-menu {
  display: grid;
  place-items: center;
  transition: all 0.2s;
  border-radius: var(--border-radius-rect);
  padding: 2px;
  cursor: pointer;
}

.user-gem__comment-menu.active path {
  color: var(--color-main-yellow);
}

.user-gem__comment-menu path {
  transition: all 0.2s;
}

.user-gem__comment-menu:hover path {
  color: var(--color-main-yellow);
}

.user-gem__comment-edit-item {
  font-weight: 700;
  cursor: pointer;
}

.user-gem__comment-edit-item:hover {
  background-color: #f2f2f2;
}

.gem-author {
  /* background-color: var(--summer-color-1); */
  background-color: var(--bg-shade-01);
  color: #010409;
  border-radius: 20px;
  padding: 3px 10px 5px 10px;
  display: inline-block !important;
}

.gem-author::before {
  content: '✍';
  font-size: 11px;
  margin-right: 5px;
}

.gem-author a {
  color: #010409;
  font-size: 12px;
  margin-right: 5px;
}

.user-gem__comment-menu-wrapper {
  display: flex;
  align-items: center;
}

.user-gem__comment-edited,
.user-gem__edited {
  display: flex;
  align-items: center;
  gap: 3px;
  margin-left: 8px;
  font-size: 12px;
  font-weight: 600;
  color: var(--color-main-yellow);
}

.user-gem__edited {
  margin-left: 0;
  margin-right: 5px;
}

.user-gem__comment-pinned {
  display: flex;
  align-items: center;
  transform: rotate(45deg);
}
