.user-gem__poll-results-close-wrapper {
  position: relative;
}

.user-gem__poll-results-close-wrapper button {
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
  transition: all 0.3s;
}

.user-gem__poll-results-close-wrapper button:hover {
  opacity: 0.7;
}

.poll-results__modal-content-wrapper {
  display: flex;
  height: 100%;
}

.poll-results__options-wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
  border-right: 1px solid var(--color-grey);
  width: 300px;
  max-height: 480px;
  padding: 5px 5px 0 0;
  font-size: 1rem;
  font-weight: 500;
  overflow: hidden;
  transition: all 0.3s;
}

.poll-results__options-wrapper:hover {
  overflow: auto;
}

.poll-results__option-wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  cursor: pointer;
  padding: 10px;
  border-radius: var(--border-radius-rect);
  transition: all 0.3s;
}

.poll-results__option {
  transition: all 0.3s;
}

.poll-results__option.active-option,
.poll-results__option-wrapper:hover {
  background-color: var(--bg-main-white);
  border-radius: var(--border-radius-rect);
}

.poll-results__option-value {
  text-overflow: ellipsis;
}

.poll-results__option-wrapper span {
  font-size: 0.7rem;
  font-weight: 700;
  color: var(--color-grey);
  white-space: nowrap;
  transition: all 0.3s;
}

.poll-results__votes {
  padding: 5px 0 0 5px;
  width: 100%;
  overflow: hidden;
}

.poll-results__votes:hover {
  overflow: auto;
}

.poll-results__no-votes {
  text-align: center;
  color: var(--color-main-yellow);
  font-size: 1.2rem;
  font-weight: 700;
  margin-top: 20px;
}

.poll-results__user-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 15px;
  font-size: 1rem;
  font-weight: 500;
  border-bottom: 1px solid var(--color-grey);
}

.user-gem__user-vote-timestamp {
  font-size: 0.7rem;
  font-weight: 700;
  color: var(--color-grey);
  white-space: nowrap;
  display: flex;
  align-items: center;
  gap: 5px;
}
