.event-tab-container {
  width: 100%;
  margin-top: 10px;
  height: 218px;
  border-radius: var(--border-radius-rect) ;
  overflow: auto;
  padding: 5px 15px 5px 5px;
}

.start-period-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.start-period-wrapper p {
  font-size: 14px;
  color: rgba(52, 51, 58, 0.8);
}

.start-period-wrapper .start-date {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 10px;
}

.react-datetime-picker__wrapper {
  border: none !important;
}

.date-picker {
  border-radius: var(--border-radius-rect) ;
  border: none;
  outline: 1px solid var(--color-grey);
  color: rgba(52, 51, 58, 0.8);
  padding: 4px;
  font-size: 14px;
}

.start-period-wrapper input:focus,
.start-period-wrapper select:focus {
  outline: 2px solid var(--color-main-yellow);
  border-radius: 2px;
}

.react-datetime-picker__button svg {
  stroke: #ccc !important;
  width: 15px !important;
  height: 15px !important;
}

.react-datetime-picker__button:enabled:hover
  .react-datetime-picker__button__icon,
.react-datetime-picker__button:enabled:focus
  .react-datetime-picker__button__icon {
  stroke: var(--color-main-yellow) !important;
}

.calendar {
  position: absolute;
  top: 10px;
  left: 30%;
  border-radius: var(--border-radius-rect) ;
  border: none;
  outline: 1px solid var(--color-grey);
  font-weight: 500;
  box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.3);
}

.react-calendar button {
  transition: all 0.3s;
}

.react-calendar__tile--hasActive,
.react-calendar__tile--active,
.react-calendar__tile--hasActive:hover,
.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus,
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: var(--color-main-yellow);
  color: #fff;
}

.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus,
.react-calendar__tile--now {
  background-color: transparent !important;
  color: var(--color-main-yellow);
}

.react-datetime-picker__clock {
  margin-top: 10px !important;
  border-radius: var(--border-radius-rect)  !important;
  border: none !important;
  outline: 1px solid var(--color-grey) !important;
  font-weight: 500 !important;
  box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.3) !important;
}

.react-datetime-picker__clock--open {
  height: 200px !important;
}

.event-photo {
  width: 100%;
  height: 210px;
  outline: 1px solid var(--color-grey);
  border-radius: var(--border-radius-rect) ;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.event-photo:hover {
  outline: 2px solid var(--color-main-yellow);
}

.event-image-uploader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.event-image-uploader p {
  color: var(--color-main-grey);
  font-weight: 600;
  opacity: 0.8;
  letter-spacing: 0.4px;
  font-size: 14px;
}

.event-location-wrapper{
  margin-top: 10px;
}

.event-tab-container .event-description {
  margin-top: 20px;
  border: none;
  resize: none;
  overflow-x: hidden;
  overflow-wrap: break-word;
  width: 100%;
  height: 80px;
  padding: 10px 12px;
  border-radius: var(--border-radius-rect) ;
  outline: 1.5px solid var(--color-grey);
  font-size: 13px;
  opacity: 0.8;

  &::placeholder {
    color: #a0a0a0;
    opacity: 0.7;
    font-weight: 500;
  }
}

.event-tab-container .event-description:focus {
  outline: 2px solid var(--color-main-yellow);
}
