.user-post {
  width: 100%;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.04);
  padding: 15px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.user-post__header{
  display: flex;
  gap: 7px;
}

.user-post__user-info{
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 13px;
}

.user-post__details{
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.user-post__user-info .user-post__username{
  font-weight: 500;
}

.user-post__user-info .user-post__user-level{
  font-size: 9px;
  font-weight: 600;
  color: #828282;
  display: flex;
  align-items: center;
  gap: 3px;
}

.user-post__date{
  display: flex;
  gap: 5px;
  font-size: 10px;
}

.user-post__date span{
  color: #ccc;
}

.user-post__body h3{
  margin-top: 10px;
  font-weight: 600;
}

.user-post__menu{
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 15px;
}