.diet-details-header {
  font-size: 1.5rem;
  font-weight: 500;
}

.diet-details-container {
  margin-top: 20px;
  border-radius: var(--border-radius-rect);
  background-color: var(--bg-secondary-color);
  min-height: 100px;
  width: 800px;
  display: flex;
}

.diet-details-container-tabs-wrapper {
  border-right: 1px solid var(--color-grey);
}

.diet-details-container-tabs {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 5px;
}

.diet-details-container-tabs-item {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  cursor: pointer;
  color: var(--color-grey);
  font-size: 1rem;
  font-weight: 700;
  padding: 12px;
  border-radius: var(--border-radius-rect);
}

.diet-details-container-tabs-item.active,
.diet-details-container-tabs-item:hover {
  background-color: var(--bg-main-color);
  color: var(--text-main-color);
}

.diet-details-container-tabs-item:hover {
  transition: all 0.3s;
}

.diet-details-container-tabs-icon {
  color: var(--color-main-yellow);
}

.diet-details-content-container {
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 580px;
  max-height: 400px;
  overflow-y: auto;
}

.diet-details-input-header {
  margin-bottom: 15px;
  font-size: 0.8rem;
  font-weight: 600;
}

.diet-details-container-save-button {
  margin-top: 15px;
  width: 800px;
  text-align: center;
  display: flex;
  justify-content: center;
}
