.user-home {
  margin-top: 100px;
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
}

.user-home__food-recommendation-wrapper {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.user-home__container-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.user-home__post-wrapper {
  width: 550px;
  gap: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 20px;
}

.user-home__no-gems{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.user-home__no-gems h3{
  font-size: 32px;
  font-weight: 600;
  color: var(--color-main-grey);
}

.user-home__gems-loading-wrapper{
  width: 100%;
  position: relative;
  height: 200px;
}