.user-home {
  padding: 55px;
}

.user-home__container-wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.user-home__post-wrapper {
  width: 700px;
  gap: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
