.sidebar {
  width: 230px;
  height: 100%;
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}

.sidebar a {
  color: var(--color-grey);
  font-size: 12px;
  font-weight: 700;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  width: 90px;
}

.sidebar a:hover:not(.user-home_user-card a),
.sidebar a.active {
  color: var(--color-main-yellow);
}

.navigation-wrapper {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 100%;
  margin-top: 20px;
}

.navigation-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
