.sidebar {
  width: 220px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background: #fff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
  background-color: var(--bg-secondary-color);
  transition: width 0.3s;
}

.sidebar-container {
  min-width: 65px;
  width: 220px;
  height: 100%;
  margin-right: 20px;
}

.closed-sidebar-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.closed-sidebar-progress{
  width: 80%;
}

.closed-sidebar-avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  margin-top: 30px;
}

.closed-sidebar {
  width: 65px;
}

.closed-sidebar-navbar {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 100%;
}

.opened-sidebar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.sidebar-toggle {
  position: absolute;
  top: 80px;
  right: -8px;
  cursor: pointer;
}

.sidebar a {
  color: var(--color-grey);
  font-size: 12px;
  font-weight: 700;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  width: 85px;
}

.sidebar a:hover:not(.user-home_user-card a),
.sidebar a.active {
  color: var(--color-main-yellow);
}

.navigation-wrapper {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 100%;
  margin-top: 20px;
}

.navigation-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
