.user-home_user-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  height: 200px;
  margin-top: 40px;
  border: 2px solid rgba(249, 161, 9, 1);
  border-radius: 12px;
  background-color: #fff;
  box-shadow: 0px 2px 10px rgba(249, 161, 9, 0.3);
  transition: all 0.3s ease-in-out;
}

.user-home_user-card-avatar-wrapper {
  /* border: 2px dashed var(--color-grey); */
  border-radius: var(--border-radius-rect) ;
  cursor: pointer;
  transition: all 0.3s;
}

.user-home_user-card-username{
  text-align: center;
  white-space: nowrap;
}

.user-home_user-card a {
  color: #454545;
  font-size: 13px;
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.3s;
}

.user-home_user-card a:hover {
  text-decoration: underline;
}

.divider {
  margin-block: 5px;
  width: 80%;
  height: 1px;
  background: var(--color-grey);
}

.user-home_user-card-level-bar-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 10px;
  padding-inline: 25px;
}

.user-home_user-card-level-bar-details {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-home_user-card-level-bar-details > div {
  font-size: 9px;
  font-weight: 600;
  color: #828282;
}
