.basic-information-header {
  margin-bottom: 10px;
  font-size: 13px;
  font-weight: 600;
}

.basic-information-radio-wrapper {
  display: flex;
  gap: 20px;
}

.basic-information-location {
  margin-top: 15px;
  font-weight: 500;
  font-size: 0.9rem;
  line-height: 2;
  min-height: 80px;
}
