.user-gem {
  width: 100%;
  background-color: var(--bg-secondary-color) ;
  border-radius: var(--border-radius-rect);
  /* border: 1.5px solid var(--color-main-grey); */
  /* box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.2); */
  padding: 15px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.user-gem .user-gem__texts a {
  color: var(--color-main-yellow);
}

.user-gem__footer-skeleton-wrapper {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  position: relative;
}

.last-skeleton {
  position: absolute;
  right: 0;
}

.user-gem__body hr {
  border: none;
  height: 1px;
  background-color: var(--text-main-color);
  margin: 10px 0;
}

.user-gem ol,
.user-gem ul {
  padding-left: 15px;
  font-weight: 500;
}

.user-gem ol::marker,
.user-gem ul::marker {
  font-weight: 800;
}

.user-gem__texts h3 {
  line-height: 1.5;
  margin-block: 5px 15px;
  font-weight: 600;
  font-size: 1.5rem;
  color: var(--color-main-yellow);
}

.user-gem__body {
  margin-top: -5px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.5;
  word-break: break-word;
}

.user-gem__show-full-gem {
  margin-bottom: 15px;
  cursor: pointer;
  font-size: 12px;
  color: var(--color-grey);
  font-weight: 800;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  transition: all 0.3s;
  text-decoration: underline;
}

.user-gem__show-full-gem:hover {
  color: var(--color-main-yellow);
}
