.modal-reactions {
  display: flex;
  align-items: center;
  overflow-x: auto;
  gap: 10px;
  color: var(--color-main-grey);
}

.user-view-reacts-timestamp {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 0.7rem;
  color: var(--color-grey);
  font-weight: 700;
}

.modal-reactions-user-wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
}

.modal-reactions-user-reacts-list {
  height: 430px;
  overflow: auto;
}

.modal-reactions-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 13px 10px;
  gap: 10px;
  cursor: pointer;
  border-bottom: 3px solid transparent;
  font-weight: 600;
  transition: all 0.3s;
}

.user-gem_reacts-username-info {
  display: flex;
  align-items: center;
  gap: 3px;
}

.user-gem_reacts-username-info .user-gem__username {
  gap: 0;
}

.modal-reactions-react-amount {
  font-size: 0.9rem;
  font-weight: 800;
}

.user-gem__search-usernames-input {
  margin-top: 10px;
}

.modal-reactions-header.active {
  border-bottom: 3px solid var(--color-main-yellow);
  color: var(--color-main-yellow);
}

.modal-reactions-header.active .modal-reactions-react-amount {
  color: var(--color-main-yellow);
}

.modal-reactions-user-react {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  padding: 15px;
  border-bottom: 1px solid var(--color-grey);
}

.modal-reactions-user-with-emoji {
  position: relative;
}

.modal-reactions-emoji {
  position: absolute;
  bottom: 0;
  right: -8px;
  font-size: 14px;
}

.modal-reactions-header-skeleton {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.modal-reactions-wrapper-skeleton {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.modal-reaction-skeleton {
  display: flex;
  align-items: center;
  gap: 10px;
}
