.speech-bubble-wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
  background-color: #fff;
  padding: 25px;
  width: 700px;
}

.speech-bubble {
  display: flex;
  align-items: center;
  text-indent: 20px;
  color: #bdbdbd;
  font-size: 14px;
  font-weight: 500;
  width: 80%;
  height: 50px;
  position: relative;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.5);
  background-color: var(--bg-main-white);
  transition: all 0.3s;
}

.speech-bubble:before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-top: 12px solid transparent;
  border-right: 30px solid var(--bg-main-white);
  border-bottom: 12px solid transparent;
  margin: 10px 0 0 -15px;
}

.speech-bubble:hover {
  opacity: 0.9;
}

.user-home__speech-bubble-icons-wrapper {
  color: var(--color-grey);
  display: flex;
  gap: 20px;
}

.user-home__speech-bubble-icons-wrapper svg {
  cursor: pointer;
  transition: all 0.3s;
  font-size: 22px;
}

.user-home__speech-bubble-icons-wrapper svg:hover {
  color: var(--color-main-yellow);
}
