.speech-bubble-wrapper {
  display: flex;
  align-items: center;
  gap: 12px;
  background-color: #fff;
  padding: 25px;
  width: 550px;
  border-radius: var(--border-radius-rect);
}

.speech-bubble {
  display: flex;
  align-items: center;
  text-indent: 20px;
  color: #bdbdbd;
  font-size: 14px;
  font-weight: 600;
  width: 80%;
  height: 50px;
  position: relative;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: var(--border-radius-rect) ;
  cursor: pointer;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.1);
  background-color: #f1f1f1;
  background-color: var(--bg-main-white);
}

.speech-bubble:before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-right: 25px solid var(--bg-main-white);
  border-bottom: 15px solid transparent;
  margin: 8px 5px 5px -10px;
}

.speech-bubble:hover:before {
  border-right: 25px solid var(--bg-shade-03);
}

.speech-bubble:hover {
  background-color: var(--bg-shade-03);
  color: rgba(128, 128, 128, 0.5);
  font-weight: 600;
}

.user-home__speech-bubble-icons-wrapper {
  color: var(--color-grey);
  display: flex;
  gap: 20px;
}

.user-home__speech-bubble-icons-wrapper svg {
  cursor: pointer;
  transition: all 0.3s;
  font-size: 22px;
}

.user-home__speech-bubble-icons-wrapper svg:hover {
  color: var(--color-main-yellow);
}
