.email-verification-wrapper {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  background-color: #fff;
}

.email-verification-container {
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid var(--color-grey);
  border-radius: var(--border-radius-rect);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.email-verification-container h4 {
  font-size: 36px;
  margin-top: 30px;
  color: var(--color-main-yellow);
}
.email-verification-container p {
  font-size: 1rem;
  margin-top: 15px;
  font-weight: 700;
  color: var(--color-grey);
}

.verification-dene-animation-container-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.verification-dene-animation-container {
  height: 100%;
  width: 100%;
}

.email-verification-redirect-button {
  margin-block: 10px 20px;
}
