.user-gem__video-settings {
  font-size: 0.9rem;
  position: absolute;
  bottom: 45px;
  right: -55px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 110px;
  padding-inline: 13px;
  padding-block: 12px;
  border-radius: var(--border-radius-rect);
  background-color: rgba(52, 51, 58, 1);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.user-gem__video-settings__column {
  display: flex;
  align-items: center;
  text-align: center;
  gap: 8px;
  cursor: pointer;
}

.user-gem__video-settings__column:hover svg path {
  color: var(--color-main-yellow);
}

.user-gem__video-settings__column {
  border-bottom: 2px solid var(--color-main-yellow);
  padding-bottom: 10px;
}

.user-gem_video-back-btn {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 5px;
  top: 13px;
  left: 5px;
  cursor: pointer;
  border-bottom: 2px solid var(--color-main-yellow);
  padding-bottom: 10px;
}

.user-gem_video-settings-arrow, .user-gem_video-volume-arrow {
  position: absolute;
  background-color: rgba(52, 51, 58, 1);
  width: 13px;
  height: 13px;
  bottom: -5px;
  left: 35px;
  transform: rotate(45deg);
}

.user-gem_video-volume-arrow {
  left: 5px;
  width: 13px;
  height: 10px;
}

.user-gem__video-settings__speed {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.user-gem__video-settings__speed__item {
  padding-inline: 10px;
  cursor: pointer;
  width: 100%;
  text-align: center;
  transition: all 0.2s;
}

.user-gem__video-settings__speed__item:hover {
  color: var(--color-main-yellow);
}
