.count-down-wrapper {
  width: 100%;
  padding: 15px;
  border-radius: var(--border-radius-rect);
  background-color: var(--bg-secondary-color);
  /* color: var(--color-main-grey); */
}

.countdown-title,
.count-down-new-food-text {
  font-size: 1rem;
  font-weight: 600;
  line-height: 2;
  margin-left: 8px;
  text-align: center;
}

.countdown-date {
  width: 100%;
  font-size: 2rem;
  font-weight: 600;
  line-height: 2;
  text-align: center;
  color: var(--color-main-yellow);
  border: 2px solid var(--color-yellow-shade-01);
  border-radius: var(--border-radius-rect);
  margin-top: 10px;
}

.count-down-icon {
  display: flex;
  margin-top: 5px;
}

.count-down-title-wrapper,
.count-down-new-food-wrapper {
  display: flex;
}

.count-down-new-food-button {
  margin-top: 5px;
}
