.user-home__featured-gem-wrapper {
  background-color: var(--bg-secondary-color);
  width: 100%;
  border-radius: var(--border-radius-rect);
  text-align: center;
}

.user-home__featured-gem-title {
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--color-grey);
  font-weight: 600;
  justify-content: center;
}

.user-home__featured-gem-wrapper .divider {
  margin-top: 15px;
  margin-inline: auto;
  width: 90%;
  opacity: 0.4;
}

.user-home__featured-gem-titles {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: left;
  padding: 15px 20px;
}

.user-home__featured-gem-titles h4 {
  font-weight: 600;
}

.user-home__featured-gem-titles span {
  font-size: 1rem;
  font-weight: 700;
  color: var(--color-main-yellow);
  margin-left: 5px;
}
