.user-gem__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.user-gem__header-skeleton{
  display: flex;
  gap: 10px;
}
.user-gem__user-info {
  display: flex;
  gap: 5px;
  font-size: 14px;
}

.user-gem__user-info .avatar{
  margin-top: 2px;
}

.user-gem__details {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.user-gem__username {
  display: flex;
  gap: 3px;
  font-weight: 600;
  cursor: pointer;
}
.user-gem__username a:hover {
  text-decoration: underline;
}
.user-gem__username-link {
  text-decoration: none;
  color: var(--text-main-color);
}

.user-gem__user-date {
  font-size: 8px;
  font-weight: 600;
  color: var(--color-grey);
  display: flex;
  align-items: center;
  gap: 3px;
}

.user-gem__level {
  display: flex;
  gap: 3px;
  font-size: 10px;
  font-weight: 500;
  margin-top: 2px;
}

.user-gem__level span {
  color: var(--color-grey);
  opacity: 0.9;
  font-weight: 500;
  font-size: 0.6rem;
}

.user-gem__menu-options-wrapper {
  display: flex;
  align-items: center;
  gap: 7px;
  position: absolute;
  top: 15px;
  right: 10px;
}
