.user-gem__footer {
  padding-top: 10px;
  border-top: 1px solid var(--color-grey);
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  color: var(--color-grey);
  cursor: pointer;
  font-size: 10px;
  position: relative;
}

.user-gem__footer-container {
  display: flex;
  align-items: center;
  gap: 5px;
  transition: all 0.2s ease;
}

.user-gem__footer-container:nth-child(4) {
  gap: 8px;
}

.user-gem__footer-container[title='Add to favorites'] {
  position: absolute;
  right: 0;
}

.user-gem__footer-container:hover > svg {
  color: var(--color-main-yellow);
}

.user-gem__footer-container span {
  font-weight: 600;
  font-size: 13px;
}

.user-gem__footer-button {
  width: 130px;
  height: 30px;
}

.user-gem__emoji-picker-wrapper {
  position: absolute;
  top: 115%;
  left: -20%;
  z-index: 1000000;
  border-radius: 10px;
  box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.3);
}

.user-gem__emoji-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 10px;
  transition: all 0.3s;
}

.user-gem__emoji-list:hover .user-gem__view-reactions{
  opacity: 1;
}

.user-gem__emoji-wrapper {
  display: flex;
  align-items: center;
  gap: 5px;
  border-radius: 8px;
  border: 2px solid #ccc;
  padding: 5px 10px;
  cursor: pointer;
  transition: all 0.3s;
}

.user-gem__emoji-count {
  font-size: 13px;
  font-weight: 600;
  color: #ccc;
  display: inline-block;
  transition: all 0.3s;
}

.user-gem__emoji-wrapper.active-emoji .user-gem__emoji-count,
.user-gem__emoji-wrapper.active-emoji {
  animation: slide-down 0.3s ease;
}

.user-gem__view-reactions {
  display: flex;
  cursor: pointer;
  opacity: 0;
  align-items: center;
  gap: 3px;
  color: var(--color-grey);
  font-size: 14px;
  transition: all 0.3s;
}

@keyframes slide-down {
  0% {
    transform: translateY(10px) scale(1);
  }
  50% {
    transform: translateY(5px) scale(1.05);
  }
  100% {
    transform: translateY(0) scale(1);
  }
}

.active-emoji {
  border: 2px solid var(--color-main-yellow);
  color: var(--color-main-yellow);
}

.user-gem__emoji {
  transform: scale(0.9);
}

.active-emoji .user-gem__emoji-count {
  color: var(--color-main-yellow);
}

.active-section {
  color: var(--color-main-yellow);
}

.user-gem__comment {
  display: flex;
  gap: 10px;
}

.user-gem__comment-details {
  border: 1px solid var(--color-grey);
  background-color: var(--bg-main-white);
  display: flex;
  flex-direction: column;
  gap: 3px;
  width: 100%;
  padding: 5px 10px 10px 10px;
  border-radius: var(--border-radius-rect);
  font-weight: 600;
}

.user-gem__comment-username {
  font-size: 13px;
  font-weight: 600;
}

.user-gem__comment-text {
  font-size: 12px;
  font-weight: 700;
  word-break: break-all;
  color: var(--color-main-grey);
}

.user-gem__comment-actions {
  margin: 5px 0 0 40px;
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 13px;
  font-weight: 600;
  color: var(--color-grey);
  cursor: pointer;
}

.user-gem__comment-action {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 0.7rem;
  transition: all 0.7s ease;
}

.user-gem__comment-action:hover > svg path,
.user-gem__comment-reply-action:hover > svg path {
  color: var(--color-main-yellow);
}

.user-gem__view-reacts-wrapper {
  display: flex;
  align-items: center;
  margin: 5px 0 10px 0;
}

.user-gem__comment-show-more-comments,
.user-gem__view-reacts {
  margin-top: 13px;
  font-size: 13px;
  font-weight: 600;
  color: var(--color-grey);
  cursor: pointer;
  text-decoration: underline;
  transition: all 0.3s;
}

.user-gem__view-reacts {
  margin-top: 0;
}

.user-gem__comment-show-more-comments:hover,
.user-gem__view-reacts:hover {
  color: var(--color-main-yellow);
}

.user-gem__comment-react-emoji-picker-wrapper {
  position: absolute;
}

.user-gem__comment-react-emoji-picker-wrapper .EmojiPickerReact {
  top: 140%;
  left: -20%;
  z-index: 1000000;
  border-radius: 10px;
  box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.3);
}

.user-gem__comment-details .user-gem__emoji-list {
  margin-top: 5px;
}
