.user-home__food-recommends-wrapper {
  padding: 30px;
  border-radius: var(--border-radius-rect) ;
  background-color: var(--bg-main-yellow);
}

.user-home__food-recommends-wrapper__title {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.user-home__food-recommends-wrapper__title h4 {
  font-size: 15px;
  color: #828282;
  color: var(--color-main-yellow);
}

.user-home__food-recommends-image {
  margin-top: 30px;
  border-radius: 25px;
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.user-home__food-recommends-image img {
  width: 100%;
  height: 100%;
  border-radius: 25px;
  object-fit: cover;
}

.user-home__food-recommends-content {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.user-home__food-recommends-content h6 {
  color: #c1c1c4;
  font-size: 12px;
  font-weight: 800;
}

.user-home__food-recommends-content h4 {
  color: var(--color-main-black);
  font-size: 24px;
  font-weight: 600;
}

.user-home__food-recommends-content p {
  color: #000;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 500;
}
