.notification-component {
  position: fixed;
  top: 20px;
  right: 20px;
  height: 80px;
  padding: 8px 15px;
  z-index: 99999999;
  box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.2);
  background-color: var(--bg-shade-13);
  border-radius: var(--border-radius-rect);
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  transition: all 0.5s;
  animation: slideInFromRight 0.5s, shake 0.5s ease-in-out;
}

.notification-component.success {
  background-color: #c3e6cd;
  color: var(--color-main-green);
}

.notification-component.error {
  background-color: #f8d7da;
  color: var(--bg-main-red);
}

.notification-component.info {
  background-color: #d1ecf1;
  color: var(--color-main-blue);
}

.notification-component.warning {
  background-color: #fff3cd;
  color: var(--color-main-yellow);
}

.notification-component_message {
  max-width: 300px;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 700;
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }
  50% {
    transform: translateX(0);
  }
}

@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  20%, 60% {
    transform: translateX(-5px);
  }
  40%, 80% {
    transform: translateX(5px);
  }
}

.meal-prepare-animation-wrapper {
  display: grid;
  place-items: center;
}
