.notification-component {
  position: fixed;
  top: 30px;
  right: 30px;
  width: 300px;
  height: 80px;
  padding-inline: 10px;
  z-index: 9999;
  box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.1);
  background: #fff;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.notification-component:hover {
  box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.2);
}

.notification-component_icon {
  display: grid;
  place-items: center;
}

.notification-component_type {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 5px;
}
.notification-component_type.info {
  background-color: var(--color-main-blue);
}
.notification-component_type.error {
  background: var(--bg-main-red);
}
.notification-component_type.success {
  background: var(--color-main-green);
}
.notification-component_type.warning {
  background: var(--color-yellow-shade-07);
}

.notification-component_message {
  font-size: 1rem;
  font-weight: 700;
  text-align: center;
  line-height: 1.5;
}
.notification-component_message.info {
  color: var(--color-main-blue);
}
.notification-component_message.error {
  color: var(--bg-main-red);
}
.notification-component_message.success {
  color: var(--color-main-green);
}
.notification-component_message.warning {
  color: var(--color-yellow-shade-07);
}
