.input-component{
    box-sizing: border-box;
    outline: none;
    width: 100%;
    font-size: 14px;
    color: #333;
    white-space: nowrap;
    line-height: 20px;
    border: 2px solid #e0e0e0;
    border-radius: 5px;
    transition: all 0.3s ease;

    &.extra-small{
       padding: 6px 12px;
    }

    &.small{
        padding: 8px 16px;
    }

    &.medium{
        padding: 10px 20px;
    }

    &.large{
        padding: 12px 24px;
    }

    &.danger{
        border-color: var(--bg-main-red);
    }
    &.danger:focus{
        border-color: var(--bg-main-red);
    }
    &:focus{
        border-color: var(--color-main-yellow);
    }
    &:disabled{
        background-color: #f0f0f0;
        border-color: #e0e0e0;
        color: #a0a0a0;
    }
    &::placeholder{
        color: #a0a0a0;
        opacity: 0.7;
        font-weight: 500;
    }
}

.input-component-wrapper p{
    font-size: 12px;
    margin-top: 5px;
}

.error-text{
    color: var(--bg-main-red);
}

.support-text{
    color: var(--color-main-grey);
}