.tooltip-wrapper {
  position: relative;
  z-index: 900;
}

.tooltip {
  position: absolute;
  background-color: var(--color-main-grey);
  color: #ebedf0;
  font-size: 0.7rem;
  font-weight: 600;
  padding: 6px 12px;
  border-radius: var(--border-radius-rect);
  white-space: nowrap;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  opacity: 0;
  transform: scale(0.95);
  transition:
    opacity 0.2s ease-in-out,
    transform 0.2s ease-in-out;
}

.tooltip-arrow {
  position: absolute;
  bottom: -1px;
  left: 3px;
  width: 10px;
  height: 10px;
  background-color: var(--color-main-grey);
  transform: rotate(70deg);
}

.tooltip.show {
  opacity: 1;
  transform: scale(1);
  pointer-events: auto;
}

.tooltip-top {
  bottom: 120%;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 4px;
}

.tooltip-bottom {
  top: 120%;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 4px;
}

.tooltip-left {
  right: 120%;
  top: 50%;
  transform: translateY(-50%);
  margin-right: 4px;
}

.tooltip-right {
  left: 120%;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 4px;
}
