.user-gem__video {
  margin-bottom: 10px;
  border-radius: var(--border-radius-rect);
  position: relative;
  overflow: hidden;
  color: #ebedf0;
}

.user-gem__video-playing {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.4);
}

.user-gem__video-element {
  width: 100%;
  height: auto;
  border-radius: var(--border-radius-rect);
}

.user-gem__video:hover .user-gem__video-controls {
  display: flex;
}

.user-gem__video svg path {
  color: #fff;
  transition: all 0.2s;
}

.user-gem__video svg:hover path {
  color: var(--color-main-yellow);
}

.user-gem__video-controls button {
  background: none;
  border: none;
  cursor: pointer;
}

.user-gem__video-controls {
  width: 100%;
  padding: 8px;
  position: absolute;
  bottom: 0;
  display: none;
  align-items: center;
  background-color: rgba(52, 51, 58, 1);
  border-end-end-radius: var(--border-radius-rect);
  border-end-start-radius: var(--border-radius-rect);
  transition: all 0.5s;
}

.time-display {
  margin-bottom: 3px;
}

.time-display span {
  color: var(--color-main-yellow);
  font-weight: 600;
}

.user-gem__video-progress-bar {
  position: relative;
  height: 10px;
  background-color: rgba(255, 255, 255, 1);
  margin: 0 15px 3px 10px;
  cursor: pointer;
}

.user-gem__video-progress {
  height: 100%;
  width: 0%;
  background-color: var(--color-main-yellow);
  margin-bottom: 10px;
}

.user-gem__video-options-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 3px;
  position: absolute;
  right: 20px;
}

.user-gem__video-volume-wrapper {
  position: absolute;
  bottom: 40px;
  left: 7px;
  width: 15px;
  height: 110px;
  cursor: pointer;
}

.user-gem__video-volume button:hover + .user-gem__video-volume-wrapper .user-gem__video-volume-bar-wrapper,
.user-gem__video-volume-wrapper:hover .user-gem__video-volume-bar-wrapper {
  display: flex;
}

.user-gem__video-volume {
  position: relative;
  z-index: 100;
}

.user-gem__video-volume-bar-wrapper {
  display: none;
  width: 25px;
  height: 100px;
  position: absolute;
  left: -8px;
  bottom: 0;
  background-color: rgba(52, 51, 58, 1);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.user-gem__video-volume-bar {
  position: absolute;
  bottom: 0;
  height: 80px;
  width: 10px;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0 0 5px rgba(146, 119, 119, 0.5);
  margin-bottom: 10px;
}

.user-gem__video-volume-progress {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #ffa500;
}

.user-gem__video-settings-wrapper {
  position: relative;
}

.hover-preview {
  position: absolute;
  top: -75px;
  transform: translateX(-50%);
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 5px;
  width: 100px;
  height: 50px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  background-color: rgba(52, 51, 58, 1);
  border-radius: var(--border-radius-rect);
}

.hover-preview img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 2px solid #fff;
  border-radius: var(--border-radius-rect);
}

.hover-preview span {
  color: #fff;
  font-size: 12px;
}
