:root{
  --background-white: #FAFAFE;
  --background-yellow: #FFF0DE;
  --background-light-red: #80485B;
  --background-dark-red: #EB5757;
  --text-yellow: #F9A109;
  --text-grey: #828282;
  --text-black: #34333A;
}

@font-face {
  font-family: 'Quicksand';
  src: local('Quicksand'), url('@/assets/fonts/Quicksand-VariableFont_wght.ttf')
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Quicksand', 'Roboto';
  background: var(--background-white);
  height: 100vh;
  color: var(--text-black);
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.flex{
  display: flex;
}

.flex-center {
  align-items: center;
  justify-content: center;
}

.outlet {
  margin-left: 230px;
}

/* SIDEBAR */
.sidebar{
  width: 160px;
  height: 100vh;
  background: var(--background-yellow);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.sidebar .navigation{
  width: 100%;
}

/* .sidebar .user-profile{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin-top: 30px;
  font-weight: 600;
}

.user-profile span {
  width: 100%;
  text-align: center;
  font-size: 12px;
}

.sidebar .user-avatar{
  width: 40px;
  height: 40px;
  border: 2px solid var(--text-black);
  border-radius: 50%;
  cursor: pointer;
}

.sidebar .user-avatar img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
} */

.sidebar li a{
  color: #454545;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-block: 10px;
  padding: 10px;
  cursor: pointer;
  transition: all 0.3s;
}

.sidebar li a.active {
  border-left: 4px solid var(--text-yellow); 
  background-color: #fff;
  font-weight: 700;
}

.sidebar li:hover, 
.sidebar .settings:hover{
  background-color: var(--background-white);
}

/* USER HOME */
.user-home {
  margin-top: 45px;
}

/* CONTAINER WRAPPER */
.user-home .container-wrapper{
  display: flex;
  gap: 30px;
}

.user-home .post-container{
  width: 350px;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.04);
  padding: 10px;
  cursor: pointer;
}

.user-home .post-container .post-container-header{
  display: flex;
  align-items: center;
  gap: 10px;
}

.post-container-header .post-container-avatar{
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.post-container-header .post-container-avatar img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.post-container-header .post-container-placeholder{
  color: #BDBDBD;
  font-weight: 500;
}

.post-container .post-container-footer{
  margin-top: 15px;
  border-top: 1px solid #E0E0E0;
  display: flex;
  align-items: center;
  gap: 10px;
  padding-top: 10px;
}

.user-home .search{
  width: 350px;
  height: 50px;
  position: relative;
}

.user-home .search input{
  font-family: "Quicksand";
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  border-radius: 12px;
  box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.04);
  text-indent: 50px;
}

.user-home .search input::placeholder{
  color: #BDBDBD;
  font-size: 14px;
  font-weight: 500;
}

.user-home .search input:focus{
  outline: 1px solid var(--text-yellow);
}

.user-home .search .search-icon{
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
}










