:root{
  --background-white: #EBEDF0;
  --background-pinkYellow: #FDEEE9;
  --background-yellow: #FFF0DE;
  --background-light-red: #80485B;
  --background-dark-red: #EB5757;
  --text-yellow: #F9A109;
  --text-grey: #828282;
  --text-black: #34333A;
}

@font-face {
  font-family: 'Quicksand';
  src: local('Quicksand'), url('@/assets/fonts/Quicksand-VariableFont_wght.ttf')
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', 'Roboto';
}

body {
  background: var(--background-white);
  height: 100vh;
  color: var(--text-black);
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.flex{
  display: flex;
}

.flex-center {
  align-items: center;
  justify-content: center;
}

.outlet {
  margin-left: 230px;
}

/* SIDEBAR */
.sidebar{
  width: 160px;
  height: 100vh;
  background: var(--background-yellow);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.sidebar .navigation{
  width: 100%;
}

.sidebar li a{
  color: #454545;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-block: 10px;
  padding: 10px;
  cursor: pointer;
  transition: all 0.3s;
}

.sidebar li a.active {
  border-left: 4px solid var(--text-yellow); 
  background-color: #fff;
  font-weight: 700;
}

.sidebar li:hover{
  background-color: #ffffffc2;
}

/* USER HOME */
.user-home {
  margin-top: 45px;
}

.user-home .container-wrapper{
  display: flex;
  gap: 30px;
}

/* SPEECH BUBBLE */
.speech-bubble-wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
}

.avatar{
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.avatar img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.speech-bubble {
  display: flex;
  align-items: center;
  text-indent: 20px;
  color: #BDBDBD;
  font-size: 14px;
  font-weight: 500;
  width: 180px; 
  height: 50px; 
  position: relative;
  -moz-border-radius: 10px; 
  -webkit-border-radius: 10px; 
  border-radius: 10px;
  cursor: pointer;
  background-color: #fff;
  box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.1);
  transition: all 0.3s;
}

.speech-bubble:before {
  content:"";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 12px solid transparent;
  border-right: 30px solid #fff;
  border-bottom: 12px solid transparent;
  margin: 10px 0 0 -15px;
}

.speech-bubble:hover {
  box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.3);
}

.modal{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(2px);
  background: rgba(0, 0, 0, 0.1);
  display: grid;
  place-items: center;
  z-index: 1000;
}

.modal-content {
  width: 500px;
  height: 400px;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.04);
  padding: 15px;
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-bottom: 1px solid #E0E0E0;
  padding: 10px 0 15px 0;
}

.modal-header h4{
  font-size: 18px;
}

.modal-header button {
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 10px;
  transition: all 0.3s;
}

.modal-header button:hover {
  transform: scale(1.2);
}

.modal-body {
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.modal-body .audience-wrapper{
  display: flex;
  align-items: center;
  gap: 5px;
}

.modal-body .audience-wrapper span{
  font-size: 14px;
  font-weight: 500;
  color: var(--text-grey);
} 

.modal-body .audience-wrapper .audience{
  border-radius: 5px;
  display: grid;
  place-self: center;
  cursor: pointer;
  padding: 3px;
  transition: all 0.5s;
}

.modal-body .audience-wrapper .audience:hover{
  background-color: #E4E6EB;
}
/* 
.user-home .post-container{
  width: 350px;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.04);
  padding: 10px;
  cursor: pointer;
}

.user-home .post-container:hover{
  box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.1);
}

.user-home .post-container .post-container-header{
  display: flex;
  align-items: center;
  gap: 10px;
}

.post-container-header .post-container-avatar{
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.post-container-header .post-container-avatar img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.post-container-header .post-container-placeholder{
  color: #BDBDBD;
  font-weight: 500;
}

.post-container .post-container-footer{
  margin-top: 15px;
  border-top: 1px solid #E0E0E0;
  display: flex;
  align-items: center;
  gap: 10px;
  padding-top: 10px;
} */

.user-home .search{
  width: 350px;
  height: 50px;
  position: relative;
}

.user-home .search input{
  font-family: "Quicksand";
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  border-radius: 12px;
  box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.1);
  text-indent: 50px;
}

.user-home .search input::placeholder{
  color: #BDBDBD;
  font-size: 14px;
  font-weight: 500;
}

.user-home .search input:focus{
  outline: 1px solid var(--text-yellow);
}

.user-home .search .search-icon{
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
}










