.editor {
  width: 100%;
  height: 210px;
  margin-top: 15px;
  outline: 2px solid var(--color-grey);
  border-radius: var(--border-radius-rect);
}

.editor-content {
  max-width: 100%;
  height: 77%;
  outline: none;
  padding: 12px;
  font-size: 16px;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  overflow: auto;
  position: relative;
  line-height: 2;
}

.editor-content a {
  color: var(--color-main-yellow);
  position: relative;
}

.editor-content a::before {
  content: attr(href);
  position: absolute;
  visibility: hidden;
  padding: 8px;
  font-size: 12px;
  top: 110%;
  border-radius: var(--border-radius-rect);
  z-index: 10;
  color: #fff;
  background-color: var(--bg-shade-42);
  opacity: 0;
  transition: all 0.5s;
}

.editor-content a:hover::before {
  visibility: visible;
  opacity: 0.9;
}

.not-valid-link {
  text-align: center;
  color: var(--bg-main-red);
  font-size: 12px;
  font-weight: 700;
}

.editor-content ul,
.editor-content ol {
  margin-left: 20px;
}

.editor-content::after {
  position: absolute;
  content: 'Additional info (optional)';
  font-family: 'Quicksand';
  color: var(--color-main-grey);
  opacity: 0.7;
  top: 12px;
  left: 12px;
  cursor: text;
}

.editor-content.edit::after {
  display: none;
}

.editor textarea {
  width: 100%;
  resize: none;
  height: 85%;
  outline: none;
  border: none;
  padding: 12px;
  font-size: 15px;
}

.editor textarea::placeholder {
  font-weight: 800;
  opacity: 0.5;
}

.editor:focus-within {
  outline: 2px solid var(--color-main-yellow);
}

.editor-header {
  height: 45px;
  background-color: var(--bg-main-color);
  display: flex;
  align-items: center;
  gap: 6px;
  padding-left: 5px;
  border-bottom: 2px solid var(--color-grey);
}

.editor-header button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  border-radius: var(--border-radius-rect);
  transition: all 0.3s;
  display: grid;
  place-items: center;
  padding: 1px;
}

.editor-header button:hover {
  background-color: var(--bg-secondary-color);
}

.emoji-picker-wrapper {
  position: absolute;
  top: 290px;
  right: 125px;
  z-index: 100;
  border-radius: 10px;
  box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.3);
}

.EmojiPickerReact {
  width: 350px !important;
  height: 350px !important;
  --epr-emoji-size: 25px !important;
  --epr-search-border-color: var(--color-main-yellow) !important;
  --epr-highlight-color: var(--color-main-yellow) !important;
  --epr-category-icon-active-color: var(--color-yellow-shade-05) !important;
  --epr-dark-category-icon-active-color: var(--color-main-yellow) !important;
  --epr-hover-bg-color: var(--bg-shade-10) !important;
  --epr-focus-bg-color: var(--bg-shade-11) !important;
}

.EmojiPickerReact:not(.epr-search-active)
  .epr-category-nav
  > button.epr-cat-btn.epr-active,
.EmojiPickerReact:not(.epr-search-active)
  .epr-category-nav
  > button.epr-cat-btn:hover,
.EmojiPickerReact
  .epr-search-container
  button.epr-btn-clear-search:focus
  .epr-icn-clear-search,
.EmojiPickerReact
  .epr-search-container
  button.epr-btn-clear-search:hover
  .epr-icn-clear-search {
  background-position-y: 0;
}

.EmojiPickerReact
  .epr-category-nav
  > button.epr-cat-btn:hover:not(.epr-active)::before {
  border: 2px solid var(--bg-shade-03);
  border-radius: 50%;
  bottom: -2px;
  content: '';
  left: -2px;
  position: absolute;
  right: -2px;
  top: -2px;
}

.EmojiPickerReact .epr-search-container button.epr-btn-clear-search:focus,
.EmojiPickerReact .epr-search-container button.epr-btn-clear-search:hover {
  color: var(--color-main-yellow);
  background: var(--bg-shade-10);
}

.EmojiPickerReact .epr-search-container input.epr-search {
  outline: 1px solid var(--color-grey);
}

.EmojiPickerReact .epr-search-container input.epr-search:focus {
  outline: 1px solid var(--color-main-yellow);
}

.EmojiPickerReact:not(.epr-search-active)
  .epr-category-nav
  > button.epr-cat-btn.epr-active,
.EmojiPickerReact:not(.epr-search-active)
  .epr-category-nav
  > button.epr-cat-btn:hover {
  background-position-y: 0px !important;
}

.EmojiPickerReact.epr-dark-theme {
}

.post-tab-content__gif-container-wrapper {
  position: absolute;
  top: 55%;
  right: 25%;
  width: 250px;
  height: 300px;
  z-index: 1000000;
  border-radius: 10px;
  box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.5);
  background-color: var(--bg-secondary-color);
  overflow: auto;
  padding: 10px;
}
